<a href="https://colab.research.google.com/github/leejaehyeong1/NLP_2024/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#0

# **How to use <font color = 'red'>Markdown Language**
* ## for <font color='orange'>more syntax</font> of markdown language, [Click here.](https://www.markdownguide.org/basic-syntax/)

# **Python Language**

## **Learning Python** using **Colab** ([Visit Colab homepage](https://colab.research.google.com/?utm_source=scs-index)) and **Github** ([Visit Colab homepage](https://github.com/))

###**1. Sign up github** ([Visit atutorial on Youtube](https://www.youtube.com/watch?v=c-NikCpec7U))

###**2. Sign up Google Colaboratory** (aka.Colab)
([Visit atutorial on Youtube](https://www.youtube.com/watch?v=2X_EU18OeYM))

###**3. Useful References**
- ##### Exercise 200 ÌååÏù¥Ïç¨200Ï†ú by.Ïû•ÏÇºÏö©.Ï†ïÎ≥¥Î¨∏ÌôîÏÇ¨2017
-[Jump to Python](https://wikidocs.net/book/1)
-[wikidocs for nltk](https://wikidocs.net/21667)

###**4. Markdown Language**
- ##### [Emoji](https://gist.github.com/rxaviers/7360908)
-[Markdown syntax](https://www.markdownguide.org/basic-syntax/)

###**5. Class Materials**
| # | Sessions | Keywords |
|:-:|:-:|:-:|
| 1 |Markdown Languageüë™ | [syntax](https://github.com/ms624atyale/NLP_2024/blob/main/0_MarkDown4README_md.ipynb) |

In [ ]:
#1

In [ ]:
a = 1
b = 2
print(a+b)

3

In [ ]:
c = 1
print(c)

1

In [ ]:
print(a-b+c)

0

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#3

In [1]:
str_data = ' i love python'
list_data = ['apple','banana','grapes','mango']
tuple_data = ('apple','banana','grapes','mango')

print(str_data)
print(list_data)
print(tuple_data)

 i love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [7]:
str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:-1])
print(str_data[:])
print(str_data[-3:])

ime
Time is money!
Time is money!!
y!!

In [8]:
str_data = 'My Name Is lgh'
print(str_data[1:5])
print(str_data[:-3])
print(str_data[5:])
print(str_data[::3])

y Na
My Name Is
me Is lgh
MNesg

In [11]:
strdata1 = 'i love'; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*2)
print(len(strdata1))

i lovepython
i lovei love
6

In [12]:
#4

In [13]:
x = 100
y = 95

if x>y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is greater than y.

In [15]:
listdata = ['a','b','c']

if 'a' in listdata:
  print('aÍ∞Ä listÏïàÏóê ÏûàÏäµÎãàÎã§.')
  print(listdata)

aÍ∞Ä listÏïàÏóê ÏûàÏäµÎãàÎã§.
['a', 'b', 'c']

In [18]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [20]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [23]:
clas = ['sam','Emily','Todd']

for i in clas:
  print(i)

sam
Emily
Todd

In [25]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [29]:
for i in range(3):
  print(i)

type(i)

0
1
2

int

In [34]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
      break

1
2
3

In [35]:
for i in scope:
  print(i)
else:
  print('perfect')

1
2
3
4
5
perfect

In [37]:
list = [1,2,3]
for i in list:
  print(i)
  break
else:
  print('perfect')

1

In [38]:
try:
  print('how are you?')
  print(param)

except:
  print('Exception occurred')

how are you?
Exception occurred

In [43]:
try:
  print('how are you?')


except:
  print('Exception occurred')

else:
  print('Exception did not occur.')

finally:
  print('aaaa')

how are you?
Exception did not occur.
aaaa

In [54]:
counter = 10

while counter >=0:
  print(counter)
  counter -=2

print('loop finished')

10
8
6
4
2
0
loop finished

In [56]:
import re #5

In [63]:
text = 'cat,wat,bat,sat,mat,combat,unbated'
pattern = r".at"

matches = re.findall(pattern, text)
for i in matches:
  print('Match:',i)

print('\n')

for match in matches:
  print('match:',match)

Match: cat
Match: wat
Match: bat
Match: sat
Match: mat
Match: bat
Match: bat


match: cat
match: wat
match: bat
match: sat
match: mat
match: bat
match: bat

In [65]:
text = 'cat,wat,bat,sat,mat,combat,unbated'
pattern = r".at"

matches = re.findall(pattern, text)

print(match)
print('\n')

for i in matches:
  print('Match:',i)

bat


Match: cat
Match: wat
Match: bat
Match: sat
Match: mat
Match: bat
Match: bat

In [68]:
text = "color or colour?"
pattern = r"colou?r"

matches = re.findall(pattern, text)

for i in matches:
  print('Match:',i)

Match: color
Match: colour

In [70]:
text = 'ab, ac, abc,abbc, aabbc, abbbbbbbbbc, abkc'
pattern = r'ab*c'

matches = re.findall(pattern,text)

for i in matches:
  print('Match:',i)

Match: ac
Match: abc
Match: abbc
Match: abbc
Match: abbbbbbbbbc

In [71]:
text = 'cat, caat, caaat, caot, sat, set'
pattern = r'ca+t'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: cat
match: caat
match: caaat

In [72]:
text = "Python is a popular programming language. Python is versatile."
pattern = r'language.$'

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

In [75]:
text = "Python is a popular programming language. Python is versatile."
pattern = r'versatile.$'

matches = re.findall(pattern,text)

for i in matches:
  print('match:',i)

match: versatile.

In [76]:
text = "Python is a popular programming language. Python is versatile!"
pattern = r'versatile.$'

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: versatile!

In [77]:
text = "Python is a programming language. Python is versatile. We all love Python."
pattern = r'^Python'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: Python

In [79]:
text = "123 4567 89 12345"
pattern = r'\d{3,5}'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: 123
match: 4567
match: 12345

In [82]:
text = "The word 'hello' is repeated many times: hello hello a hello hello hello"
pattern = r'(hello ){2,}'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: hello
match: hello

In [83]:
text = "The price is $100."
pattern = r'[1234567890]'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: 1
match: 0
match: 0

In [86]:
text = "The price is $100."
pattern = r'[etz\d]'

matches = re.findall(pattern, text)

print(matches)

print('\n')

for i in matches:
  print('match:',i)

['e', 'e', '1', '0', '0']


match: e
match: e
match: 1
match: 0
match: 0

In [87]:
text = "The price is $100."
pattern1 = r'\d'
pattern2 = r'es'

print(pattern1)
print('\n')
print(pattern2)
print('\n')

matches1 = re.findall(pattern1, text)
for i in matches1:
  print('match1:',i)

matches2 = re.findall(pattern2,text)
for i in matches2:
  print('match2:',i)

\d


es


match1: 1
match1: 0
match1: 0

In [93]:
text = "aaaThe quick brown fox jumps over the lazy dog."
pattern = r'[a-zA-Z]'
print(pattern)

matches = re.findall(pattern, text)
print(matches)

for i in matches:
  print('match:',i)

[a-zA-Z]
['a', 'a', 'a', 'T', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', 't', 'h', 'e', 'l', 'a', 'z', 'y', 'd', 'o', 'g']
match: a
match: a
match: a
match: T
match: h
match: e
match: q
match: u
match: i
match: c
match: k
match: b
match: r
match: o
match: w
match: n
match: f
match: o
match: x
match: j
match: u
match: m
match: p
match: s
match: o
match: v
match: e
match: r
match: t
match: h
match: e
match: l
match: a
match: z
match: y
match: d
match: o
match: g

In [96]:
text = "In mathematics, 3.14 is a decimal approximation of the mathematical constant œÄ (pi)."
pattern = r'[\d]'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match: 3
match: 1
match: 4

In [99]:
text = "24 Hours a Day, 7 Days a Week, & 365 Days a Year!"
pattern = r'[^a-zA-Z0-9]'

matches = re.findall(pattern, text)

for i in matches:
  print('match:',i)

match:
match:
match:
match: ,
match:
match:
match:
match:
match: ,
match:
match: &
match:
match:
match:
match:
match: !

In [100]:
text = "The color can be either red, green, or blue."
pattern = r'(blue|red)'

matches = re.findall(pattern, text)
for i in matches:
  print('match:',i)

match: red
match: blue